<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Rahul</string>
		<key>Detail</key>
		<string>Raj Singh Dungarpur is credited for the selection of Tendulkar for the Indian tour of Pakistan in late 1989,[51] after one first class season.I&apos;m writing an iOS app in obj-c and using Google SignIn SDK to do the Google SignIn flow. I wanna be able to customize the button and action a little it so I went ahead implementing the protocols of GIDSignInDelegate myself based on their documentation.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Nilesh</string>
		<key>Detail</key>
		<string>jfhbdahfbdsabfdhbfhbdshfdsfdhjsfhsdabfhbdfhjadhjsfhdbfhjadsfhjbfhjbdhsjfbdhjbfhjdsfhjsbfhjbdshjafbdhjsbfhdbfhjdsbfjhbdsfhjadsjfbdhjfbdhsfdhsjfabjdsbfhdsbfahsbfhadbfhbdhfbsafbdsbfhjadsbfhjbdhf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sagar</string>
		<key>Detail</key>
		<string>fadhsfadbfdsafhdsfbdsfhdsbfdsfhsbdfhjdhjfsabhjfhjdbfjadsjfbdbfhadsbfbdhjfbadhsbfhdbfahjdsfhbdhfadsfbhdsbfadsbfdfbdsbfdsfdsfd</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Kevin</string>
		<key>Detail</key>
		<string>bdfhsbafdhfdsbhdsfbdhsabfhbdfhjdsfbhjsdbafjbdhjfbdjbsfhjbdasjfdhsbfadhjsbfhjdfjahsbsdhfhdjsfdfbsfjdsbfhuysfbdhuyfbdsafhybdfhdsabfdhfjbashbhjbvhbadfbdsfibdsfhyabiusfidfaisdbfdaisfbdfibadsifdbfaiusbfdiufdsifbdaidbfbadsfbdbfiasfisdfbdsafdbfbfsd</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Darshan</string>
		<key>Detail</key>
		<string>jfndfndsafjdfndjasfnsdnfjdafjndfkndfjkndsfndnsfnfjdjnsfjndsfndjfjnkasdnfj</string>
	</dict>
</array>
</plist>
